.list{
    display: flex;
    flex-direction: column;
}

.card{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: antiquewhite;
}